<link rel=”stylesheet” type=”text/css” href=“family_story\app\assets\stylesheets\readpage.css”/>

<div class="nav">
<%=link_to "Logout", users_loginpage_path%>
</div>
<h1><%= @story.title %></h1>
<p>
<%= @story.body %>
</p>
<%=link_to "Back to Browse", stories_path%>
