h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
/*.text_field{} /*May have to not have a dot. "text_field"*/

a:link,a:visited{ /* link formatting */
  background-color: dodgerblue;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  /* text-decoration-color: white */
}
a:hover,a:active{
  opacity: 0.8;
}
.topnav {
  overflow: hidden;
  background-color: dodgerblue;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  opacity: 0.8;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
